.chart {
  /* padding: 1rem; */
  padding-top: 1rem;
  background-color: #fff;
  overflow: hidden;
}

.barChart {
  margin: 0 auto;
}

.chartHeading {
  font-size: 1.872rem;
  text-align: center;
  color: var(--blue);
  margin-bottom: 2rem;
  font-weight: 900;
}

@media (min-width: 500px) {
  .chart {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 730px) {
  .chartHeading {
    font-size: 2.2rem;
  }
}

@media (min-width: 1000px) {
  .chartHeading {
    font-size: 2.4rem;
  }

  .chart {
    padding: 2rem;
    grid-column: 1/3;
    grid-row: 4/5;
    font-size: 1.8rem;
  }
}
