h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Rammetto One", cursive;
  margin-bottom: 2rem;
  color: var(--red);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 3rem;
  width: 95%;
  margin: 0 auto;
}

.img1Container {
  padding: 1rem;
  background-color: #fff;
}

.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Media Queries*/

@media (min-width: 500px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-template-rows: repeat (4, auto);
  }
}
@media (min-width: 730px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-template-rows: repeat (4, auto);
  }

  .img1Container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media (min-width: 1000px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 3rem;
    grid-template-rows: repeat(5, auto);
  }

  h1 {
    font-size: 6rem;
  }

  .img1Container {
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 2rem;
  }
}
