.searchBar {
  background-color: var(--color-primary);
  font-size: var(--font-size-body-mobile);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar input {
  /* border-radius: 1000px; */
  /* padding: 0.5rem; */
  height: 3rem;
  padding: 1.5rem;
  width: 50%;
  border: none;
}

.searchBar input:focus {
  outline: 3px var(--red) solid;
}

.searchBar button {
  /* border-radius: 1000px; */
  background-color: var(--red);
  border: none;
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  padding: 0.5rem;
}
