.searchBarSection {
  /* border: 3px red solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.inputAndDropDown {
  width: 100%;
}

.inputAndDropDown input {
  width: 100%;
  height: 3rem;
  border: none;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.inputAndDropDown input:focus {
  outline: 3px var(--red) solid;
}

button {
  height: 3rem;
  width: 3rem;
  background-color: var(--red);
  border: none;
  margin-left: 1rem;
  padding: 0.5rem;
}

.dropDown {
  background-color: white;
  height: 20rem;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  width: 70%;
  margin-top: 1rem;
  /* padding: 0.8rem; */
}

.dropDownItem {
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropDownItem:hover {
  background-color: var(--light-orange2);
}
