h2 {
  margin-top: 5rem;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Rammetto One", cursive;
  color: var(--red);
}

h4 {
  margin-top: 5rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media (min-width: 730px) {
  h2 {
    font-size: 6rem;
  }

  h4 {
    font-size: 4rem;
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 6rem;
    margin-top: 7rem;
  }

  h4 {
    margin-top: 7rem;
    text-align: center;
    color: white;
    font-size: 4rem;
  }
}
