.appearance {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #fff;
}

.appearanceHeading {
  color: #143f6b;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
}

table {
  width: 100%;
}

.tableHeading {
  width: 30%;
  text-align: left;
  background-color: var(--red);
  color: white;
  padding: 1rem;
  font-weight: normal;
}
.tableData {
  width: 70%;
  padding: 1rem;
  /* border-style: none;
  border: 3px solid white; */
}

.odd {
  background-color: var(--light-orange1);
}

.even {
  background-color: var(--light-orange2);
}

/*Media Queries*/

@media (min-width: 730px) {
  .appearanceHeading {
    font-size: 2.2rem;
  }
}

@media (min-width: 1000px) {
  .appearanceHeading {
    font-size: 2.4rem;
  }

  .appearance {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
    font-size: 1.8rem;
  }
}
