*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-repeat: no-repeat;
  /* height: 100%; */
  background-color: #1e3247;
  /* background-image: linear-gradient(
    to right top,
    #143f6b,
    #173c62,
    #193959,
    #1c3550,
    #1e3247,
    #1e2f40,
    #1e2b39,
    #1e2832,
    #1d242c,
    #1b2026,
    #1a1d20,
    #18191a
  ); */
}
