.work {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #fff;
}

.workHeading {
  color: #143f6b;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
}

.tableHeading {
  width: 30%;
  text-align: left;
  background-color: var(--red);
  color: white;
  padding: 1rem;
  font-weight: normal;
  overflow-wrap: break-word;
}

table {
  width: 100%;
}

.tableData {
  /* width: 70%; */
  overflow-wrap: break-word;
  padding: 1rem;
  /* border-style: none;
  border: 3px solid white; */
}

.odd {
  background-color: var(--light-orange1);
}

.even {
  background-color: var(--light-orange2);
}

/*Media Queries*/

@media (min-width: 730px) {
  .workHeading {
    font-size: 2.2rem;
  }

  .work {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1000px) {
  .workHeading {
    font-size: 2.4rem;
  }

  .work {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 2rem;
    font-size: 1.8rem;
  }
}
